作業目標:<br>
1.讀取各種檔案格式<br>
2.輸出各種檔案格式<br>

作業重點:<br>
1.不同檔案讀取方式皆不同，須了解檔案格式中的邏輯，例如:csv是以逗號分隔<br>
2.讀取、輸出檔案的程式碼不同，須注意使用方式

題目: <br>
讀取資料夾中boston.csv讀取其欄位CHAS、NOX、RM，輸出成.xlsx檔案

In [27]:
import pandas as pd
import openpyxl

In [28]:
#讀取資料夾中boston.csv讀取其欄位CHAS、NOX、RM，輸出成.xlsx檔案

In [29]:
boston_data = pd.read_csv('../data/boston.csv',usecols = ['CHAS','NOX','RM'])
boston_data

     CHAS    NOX     RM
0     0.0  0.538  6.575
1     0.0  0.469  6.421
2     0.0  0.469  7.185
3     0.0  0.458  6.998
4     0.0  0.458  7.147
..    ...    ...    ...
501   0.0  0.573  6.593
502   0.0  0.573  6.120
503   0.0  0.573  6.976
504   0.0  0.573  6.794
505   0.0  0.573  6.030

[506 rows x 3 columns]

In [30]:
boston_data.to_excel('../data/boston_data.xlsx')

In [31]:
iris_data = pd.read_csv('../data/iris.csv',header = 1,names = ['featrue1','featrue2','featre3','featrue4','featrue5'])
iris_data

     featrue1  featrue2  featre3  featrue4  featrue5
0         4.9       3.0      1.4       0.2         0
1         4.7       3.2      1.3       0.2         0
2         4.6       3.1      1.5       0.2         0
3         5.0       3.6      1.4       0.2         0
4         5.4       3.9      1.7       0.4         0
..        ...       ...      ...       ...       ...
144       6.7       3.0      5.2       2.3         2
145       6.3       2.5      5.0       1.9         2
146       6.5       3.0      5.2       2.0         2
147       6.2       3.4      5.4       2.3         2
148       5.9       3.0      5.1       1.8         2

[149 rows x 5 columns]