# [作業目標]

1. [簡答題] 請問下列四種不同的 DataFrame 選取結果有什麼差異？

```
df.loc[ '2013-01-01', 'A'] 
df.loc[ '2013-01-01', ['A', 'B'] ] 
df.loc[ '2013-01-01':'2013-01-02', 'A' ] 
df.loc[ '2013-01-01':'2013-01-05', 'A':'C'] 
```


2. 請根據提供的資料，選擇出下列的要求：

```
# - select the first 3 rows.
# - select the odd rows. (index = 1, 3, 5)
# - select the last 2 columns.
# - select the even columns. (index = 0, 2, 4)
```

3. 請根據提供的資料，選擇出下列的要求：

```
# - 1. filtered by first column > 20?
# - 2. filtered by first column + second column > 50
# - 3. filtered by first column < 30 or second column > 30
# - 4. filtered by total sum of row > 100
```

# 作業

### 1. [簡答題] 請問下列四種不同的 DataFrame 選取結果有什麼差異？

```
df.loc[ '2013-01-01', 'A'] 
df.loc[ '2013-01-01', ['A', 'B'] ] 
df.loc[ '2013-01-01':'2013-01-02', 'A' ] 
df.loc[ '2013-01-01':'2013-01-05', 'A':'C'] 
```

In [1]:
取到的值不一樣r

### 2. 請根據提供的資料，選擇出下列的要求：

```
# - select the first 3 rows.
# - select the odd rows. (index = 1, 3, 5)
# - select the last 2 columns.
# - select the even columns. (index = 0, 2, 4)
```

In [3]:
# 記得先 Import 正確的套件


'''

'''

"\nimport pandas as pd\ndf = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])\ndf\n"

In [21]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
print(df)

       col1      col2      col3
0  0.802501  1.852842 -2.298075
1 -0.842278 -1.620408  0.089030
2  1.254781 -0.218522 -0.099460
3 -2.026538 -0.714402  1.019712
4 -0.275633 -1.190013  0.305498
5 -0.126254 -1.217019 -1.602979

In [22]:
print(df[0:3])

       col1      col2      col3
0  0.802501  1.852842 -2.298075
1 -0.842278 -1.620408  0.089030
2  1.254781 -0.218522 -0.099460

In [23]:
print(df[df.index%2 == 1])

       col1      col2      col3
1 -0.842278 -1.620408  0.089030
3 -2.026538 -0.714402  1.019712
5 -0.126254 -1.217019 -1.602979

In [26]:
print(df[['col2','col3']])

       col2      col3
0  1.852842 -2.298075
1 -1.620408  0.089030
2 -0.218522 -0.099460
3 -0.714402  1.019712
4 -1.190013  0.305498
5 -1.217019 -1.602979

In [28]:

print(df[df.index%2 ==0])

'\nprint(df[df.index%2 ==0])\n'

In [8]:
'''
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
print(df)
print(df[0:3])
print(df[df.index%2 == 1])
print(df[['col2','col3']])
print(df[df.index%2 ==0])
'''

       col1      col3
0  0.824286 -0.887365
1 -1.044179 -0.975283
2 -1.812146  2.556824
3  1.746811 -1.529704
4  0.992052 -0.858061
5  0.387535  0.714364

### 3. 請根據提供的資料，選擇出下列的要求：

```
# - 1. filtered by first column > 20?
# - 2. filtered by first column + second column > 50
# - 3. filtered by first column < 30 or second column > 30
# - 4. filtered by total sum of row > 100
```

In [31]:
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
df

     0   1   2   3
0   28  19  22  24
1   26  35  34  30
2   24  26  38  14
3   10  13  36  37
4   29  28  15  14
5   12  35  28  33
6   32  31  12  31
7   22  39  29  16
8   30  19  10  11
9   39  13  21  39
10  15  34  25  14
11  13  26  11  15
12  17  19  35  19
13  19  27  31  23
14  39  39  26  14

In [65]:
print(df[0][df[0]>20])
print(df.loc[df[0]>20])

0     28
1     26
2     24
4     29
6     32
7     22
8     30
9     39
14    39
Name: 0, dtype: int64
     0   1   2   3
0   28  19  22  24
1   26  35  34  30
2   24  26  38  14
4   29  28  15  14
6   32  31  12  31
7   22  39  29  16
8   30  19  10  11
9   39  13  21  39
14  39  39  26  14

In [47]:
print(df.loc[df[0]+df[1]>50])

     0   1   2   3
1   26  35  34  30
4   29  28  15  14
6   32  31  12  31
7   22  39  29  16
9   39  13  21  39
14  39  39  26  14

In [67]:
a = df[0]<30
b = df[1]>30
print(df[a|b])
print(df.loc[(df[0]<30)|(df[1]>30)])

     0   1   2   3
0   28  19  22  24
1   26  35  34  30
2   24  26  38  14
3   10  13  36  37
4   29  28  15  14
5   12  35  28  33
6   32  31  12  31
7   22  39  29  16
10  15  34  25  14
11  13  26  11  15
12  17  19  35  19
13  19  27  31  23
14  39  39  26  14
     0   1   2   3
0   28  19  22  24
1   26  35  34  30
2   24  26  38  14
3   10  13  36  37
4   29  28  15  14
5   12  35  28  33
6   32  31  12  31
7   22  39  29  16
10  15  34  25  14
11  13  26  11  15
12  17  19  35  19
13  19  27  31  23
14  39  39  26  14

In [69]:
print(df.loc[df[0]+df[1]+df[2]+df[3]>100])

     0   1   2   3
1   26  35  34  30
2   24  26  38  14
5   12  35  28  33
6   32  31  12  31
7   22  39  29  16
9   39  13  21  39
14  39  39  26  14

In [6]:
'''
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
df
print(df[0][df[0]>20])
print(df.loc[df[0]>20])
print(df.loc[df[0]+df[1]>50])
a = df[0]<30
b = df[1]>30
print(df[a|b])
print(df.loc[(df[0]<30)|(df[1]>30)])
print(df.loc[df[0]+df[1]+df[2]+df[3]>100])
'''

     0   1   2   3
0   24  32  33  17
1   37  32  26  15
3   34  30  27  24
4   34  20  38  27
6   39  35  38  24
7   35  19  37  12
8   16  17  37  32
9   38  38  38  17
11  25  35  27  22
12  33  20  15  37